@inject IPrimitiveService PrimitiveService

<div class="function-bar">
    <button @onclick="() => Align(AlignmentType.Left)" title="左对齐">
        <i class="bi bi-align-start"></i>
    </button>
    <button @onclick="() => Align(AlignmentType.CenterHorizontal)" title="水平居中">
        <i class="bi bi-distribute-horizontal"></i>
    </button>
    <button @onclick="() => Align(AlignmentType.Right)" title="右对齐">
        <i class="bi bi-align-end"></i>
    </button>
    <button @onclick="() => Align(AlignmentType.Top)" title="顶部对齐">
        <i class="bi bi-align-top"></i>
    </button>
    <button @onclick="() => Align(AlignmentType.CenterVertical)" title="垂直居中">
        <i class="bi bi-distribute-vertical"></i>
    </button>
    <button @onclick="() => Align(AlignmentType.Bottom)" title="底部对齐">
        <i class="bi bi-align-bottom"></i>
    </button>
</div>

@code {

    // 对齐算法入口
    private void Align(AlignmentType type)
    {

    }

    private enum AlignmentType
    {
        Left,
        Right,
        CenterHorizontal,
        Top,
        Bottom,
        CenterVertical
    }
}
