<div class="form-group mb-2">
    <label class="form-label">@PropValue.Name</label>
    <input type="number" class="form-control" @bind="PropValue.Value" />
</div>

@code {
    [Parameter]
    public IntPropValue PropValue { get; set; } = null!;
}