<div class="navbar">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Elements Alignment</a>
    </div>
</div>

<div class="nav-menu">
    <nav class="flex-column">
        <div class="nav-item">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <i class="oi oi-home" aria-hidden="true"></i> Home
            </NavLink>
        </div>
    </nav>
</div>
