@page "/"

<PageTitle>Demo</PageTitle>

<div class="workspace-grid-container">
    <div class="function-bar-pane">
        <FunctionBar />
    </div>
    <div class="primitive-tree-pane">
        <PrimitiveTree />
    </div>
    <div class="diagram-pane">
        <Diagram />
    </div>
    <div class="property-bar-pane common-scrollbar">
        <PropertyBar />
    </div>
</div>
