::deep h3 {
    color: white;
    text-align: center;
}

.workspace-grid-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 60px 1fr;
    /* 三列，比例为 1:2:1  */
    grid-template-columns: 1fr 2fr 1fr;
    /* 定义区域 */
    grid-template-areas:
        "function-bar function-bar function-bar"
        "primitive-tree diagram property-bar";
    gap: 5px;
    padding: 5px;
    background-color: #343a40;
}

.function-bar-pane {
    grid-area: function-bar;
    background-color: #dc3545;
}

.primitive-tree-pane {
    grid-area: primitive-tree;
    background-color: #fd7e14;
}

.diagram-pane {
    grid-area: diagram;
    background-color: #20c997;
}

.property-bar-pane {
    grid-area: property-bar;
    background-color: #6f42c1;
    overflow-y: auto;
    height: 600px;
}

.common-scrollbar::-webkit-scrollbar {
    width: var(--ua-scrollbar-size);
    height: var(--ua-scrollbar-size);
    transition: var(--ua-transition-normal);
}

/* 滚动条轨道背景 */
.common-scrollbar::-webkit-scrollbar-track {
    background: transparent;
}

/* 滚动条滑块 */
.common-scrollbar::-webkit-scrollbar-thumb {
    background-color: var(--ua-color-scrollbar);
    border-radius: 3px;
    border: 3px solid transparent;
    transition: var(--ua-transition-normal);
}

/* 滚动条按钮（上下箭头） */
.common-scrollbar::-webkit-scrollbar-button {
    display: none;
}